* {
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    color: #ffff;
}

body {
    background-color: #DAF0EE;
    padding: 5%;
}

header, main, footer{
    background-color: #3B413C;
}

header{
    border-radius: 1rem;
    margin-bottom: 5%;
}
main{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

footer{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
header > nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header>nav>ul > li > a{
    display: inline-block;
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    
}

header>nav>ul>li:hover{
    background-color: #DAF0EE;
    a{
        color: #3B413C;
    }
}

.clickModoOscuro{
    
}

.sectionMinombre{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sectionMinombre > h1{
    padding-top: 1em;
    padding-bottom: 1em;
    letter-spacing: 10px;
    font-size: 2.5rem;
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
}

.asideImg{
    width: 20%;
    position: relative;
    top: 1rem;
    right: 1rem;
    float: right;

    background-color:#3B413C;
    padding: 10px;
    border-radius: 1rem;
}

.asideImg > img{
    width: 100%;
    border-radius: 1em;

    
}

main > section{
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 1300px;
}

main > section > h2{
    letter-spacing: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2.5rem;
}

main > section > ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer > p{
    padding-top: 5%;
    max-width: 1300px;
    text-align: center;
}



